.simplemap .leaflet-tooltip {
	width: 25em;
}

.simplemap .leaflet-popup-content-wrapper {
	border-radius: 0;
	padding: 0.5em;
	background: #fff;
}

.simplemap .leaflet-popup-content {
	margin: 0;
	overflow: hidden;
}

.map__popup__link--image {
	float: left;
	display: block;
	width: 10em;
	margin-right: 0.5em;
	height: auto;
}

.map__popup__info {
	float: left;
	overflow: hidden;
	white-space: pre-wrap;
	max-width: 13.3em;
}

.map__popup__info-inner {

}

.map__popup__title {
	color: #444;
	font-size: 1.2em;
}

.map__popup__info .participants {
	margin-bottom: 0;
}
.map__popup__info .participant__name {
	display: block;
	font-weight: 400;
}
.map__popup__info .participant__organisation-details {
	font-weight: 300;
}